<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         defaultTimeLimit="10"
         enforceTimeLimit="true"
         executionOrder="random"
         failOnAllIssues="true"
         requireCoverageContribution="true"
         requireSealedMockObjects="true"
         stopOnDefect="true"
         stopOnDeprecation="true"
         stopOnIncomplete="true"
         stopOnNotice="true"
         stopOnSkipped="true"
         warnWhenPhpIsNotConfiguredForDevelopment="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source ignoreSuppressionOfDeprecations="true"
            ignoreSuppressionOfErrors="true"
            ignoreSuppressionOfNotices="true"
            ignoreSuppressionOfPhpDeprecations="true"
            ignoreSuppressionOfPhpNotices="true"
            ignoreSuppressionOfPhpWarnings="true"
            ignoreSuppressionOfWarnings="true"
    >
        <include>
            <directory>app</directory>
        </include>
    </source>
    <coverage disableCodeCoverageIgnore="true" />
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
    </php>
</phpunit>
